@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1f9df9;
  --secondary-color: #8d8d8d;
}

.container {
  max-width: 1200px;
}

a {
  transition: 0.2s;
}

.main-menu a {
  border-radius: 7px;
  padding: 10px 25px;
}

.main-menu a:hover {
  color: var(--primary-color);
}

.main-menu li:last-child a {
  border: 2px solid var(--primary-color);
}

.social-links a {
  display: block;
}

.social-links a:hover {
  transform: scale(1.2);
}

.hero-action a {
  display: inline-block;
  border: 1px solid var(--primary-color);
  margin-right: 15px;
  border-radius: 4px;
  padding: 10px 25px;
}

.hero-action a:first-child {
  background: var(--primary-color);
  color: #fff;
}

.hero-action a:hover {
  box-shadow: 3px 3px 0px 0px var(--primary-color);
}
